*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
  background-color: #222430;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (max-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == big {
    @media screen and (max-width: 950px) {
      @content;
    }
  }
}
